langchain==0.3.27
langchain-cohere==0.4.6
langchain-community==0.3.29
langchain-core==0.3.76
langchain-experimental==0.3.4
langchain-google-community==2.0.10
langchain-google-genai==2.1.12
langchain-text-splitters==0.3.11
langgraph==0.6.7
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
langsmith==0.4.31
elevenlabs
flask
markdown
ddgs
pandas
joblib==1.5.2
transformers==4.57.1
sentence-transformers==5.1.2
torch
scikit-learn
faiss-gpu-cu12
faiss-cpu
